---
---

@import "{{ site.theme }}";

.btn-twidi .icon {
    opacity: 0.6;
    background: url(http://twidi.com/stephane-angel/stephane-angel-fond-bleu.32.jpg) 0 0 no-repeat;
    background-size: 16px;
}
